@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 24 24 27; /* zinc-900 */
  --background: 250 250 250;
}

html, body, #__next { height: 100%; }

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.container { @apply max-w-5xl mx-auto px-4; }
